*.sla
*.bin
*.obj
*.out
quick.asm
ghidra-decomp/
analyzer-build/
ghidra-switch-test/
ghidra-zoo-test/
compiler-zoo-build/
__pycache__/
old/
ghidra-profile-test/
profile-generate-check/
rpc-abi-build/
ghidra-rpc-abi-test/
stack-argument-build/
ghidra-stack-argument-test/

division-build/
ghidra-division-test/

pm-build/
ghidra-pm-test/
